@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

h1:focus {
    outline: none;
}

body {
    overflow-x: hidden;
    background-color: #e6ebe5;
    font-family: 'DM Sans', sans-serif;
}

.table-header {
    text-align: left;
}

.league-info {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.matches-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    vertical-align: middle;
}

    .matches-table tr {
        display: table-row;
    }

    .matches-table td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        vertical-align: middle;
    }

.minute-display {
    width: 50px; 
}

.score-cell {
    width: 120px;
    text-align: center;
    cursor: pointer;
}

.home-team-cell, .away-team-cell {
    gap: 8px;
    cursor: pointer;
}

.home-team-cell {
    text-align: right;
    vertical-align: middle;
}

.away-team-cell {
    text-align: left;
    vertical-align: middle;
}


.toggle-bar {
    display: flex;
    justify-content: flex-start;
    gap: 5px; 
}

.matches-table img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.home-team-cell img,
.away-team-cell img {
    margin-right: 5px;
    margin-left: 5px;
}


.team-logo-container {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    overflow: hidden;
}

.team-logo {
    height: 20px; 
    width: auto;
    object-fit: contain; 
}

.team-name {
    display: inline-block;
    line-height: 20px; 
    vertical-align: middle;
    margin-left: 10px; 
}

.collapsible-indicator {
    margin-right: 10px;
    display: inline-block;
    width: 15px;
    text-align: center;
}

.league-name-padding {
    padding-left: 20px;
}

.team-stats-container {
    text-align: center;
    flex-direction: row;
    justify-content: center;
    display: flex;
    width: 80vw;
}

.team-stats {
    flex: 1;
    flex-basis: 50%;
    justify-content: center;
    max-width: 100%; 
}


.sidebar {
    display: inline-flex;
    flex-direction: column;
    min-width: max-content;
    background-color: #e6ebe5;
    padding: 10px;
    overflow-y: auto;
    border-right: 1px solid #fe6700;
}

.content {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    width: 100vh;

}

.country-item {
    display: flex;
    flex-direction: column;
}

.country-header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.country-flag {
    height: 20px;
    width: 27px;
    margin-right: 10px;
}

.country-name {
    font-weight: bold;
    margin-bottom: 5px; 
}

.leagues-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.league-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;
}

.league-logo {
    height: 30px; 
    width: 30px; 
    object-fit: contain; 
    margin-right: 10px;
}

.league-name {
    text-align: left;
}

.league-logo-2 {
    height: 40px;
    width: 40px;
    object-fit: contain;
    margin-right: 10px;
    margin-left: 10px;
}

.league-name-2 {
    text-align: left;
    font-size: x-large;
}

.league-logo-container {
    width: 50px;
    height: 50px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    overflow: hidden;
}

.fixture-date {
    margin: 20px;
    padding: 10px;
    background-color: #e6ebe5;
    border-left: 3px solid #fe6700;
    color: #6c757d;
}

.no-data-message {
    width: 3000px;
    margin: 20px;
    padding: 10px;
    background-color: #e6ebe5;
    border-left: 3px solid #fe6700;
    color: #6c757d;
}

.country-expanded .leagues-container {
    display: block;
}

.match-details {
    display: flex;
    justify-content: center;
    width: 30vw;
    margin-left: 390px;
}

.lineup-match-details-flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    margin-right: 700px;
    width: 30vw;
}

.layout-wrapper {
    display: flex;
    min-height: 100vh;
    background-color: #e6ebe5;
}


.lineup-match-details-container {
    flex: 1;
    padding: 0 10px;
}

.team-lineup-info {
    text-align: left;
    width: 25vw;
}

.player {
    list-style-type: none;
    margin-bottom: 5px;
}

.home-lineup .team-lineup-info {
    text-align: left;
    align-items: flex-start;
    margin-left: 10vw;
}

.home-lineup .team-logo {
    text-align: left;
    align-items: flex-start;
    margin-right: 13vw;
    margin-left: 150px;
}

.away-lineup .team-lineup-info {
    text-align: right;
    align-items: flex-end;
}

.away-lineup .team-logo {
    text-align: right;
    align-items: flex-end;
    margin-left: 23vw;
}

.toggle-bar {
    width: 77vw;
    text-align: left;
    padding: 10px;
    background-color: #e6ebe5;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.collapsible-content {
    width: 100%;
    background-color: #e6ebe5;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.favourite-button .fa {
    font-size: 24px;
    cursor: pointer;
}

.favourite-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #fe6700;
    animation: spin 1s ease infinite;
    margin-left: auto;
}

.spinner-2 {
    border: 8px solid rgba(0, 0, 0, 0.1);
    width: 72px;
    height: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border-left-color: #fe6700;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.centered-text {
    text-align: center;
    font-size: larger;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.player-subbed-out {
    color: red; 
}

.player-subbed-in {
    color: green;
}

.match-score {
    height: 200px;
    width: 200px;
}